<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>Bolao do Faisao</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/base.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap-responsive.min.css" />
<script src="{{ STATIC_URL }}/js/jquery.js"></script>
<script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>


</head>

<body>

	{% include 'nav.html' %}
	
	<div class="container">
		{% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message.message }}
                </div>
            {% endfor %}
        {% endif %}
        	
		{% block content %}
	
		{% endblock %}
	</div>
	
    <p><hr></p>

    <footer class="toCenter">
         <div style="text-align: center;font-size: small">
             <p>Bolao do Faisao</p>
         </div>
    </footer>

</body>
</html>
