<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>Bolao do Faisao 2014</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/base.css" />
<link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>

<body>

	{% include 'nav.html' %}
	
	<div class="container">
		{% block content %}
	
		{% endblock %}
	</div>
	
    <p><hr></p>

    <footer class="row">
         <div class="span12" style="text-align: center;font-size: small">
             <p>blalala</p>
         </div>
    </footer>

</body>
</html>