{% extends 'base.html' %}

{% block content %}

<h1>Comments</h1>
<a href="{% url 'comment_add' %}">Add comment !!!</a>
<hr>

{% if comment_list %}
	{% for comment in comment_list %}
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object" src="/static/img/default-user-icon.png" height="30" width="30">
		</a>
		<div class="media-body">
			<h4 class="media-heading">&nbsp;{{ comment.user | capfirst}}</h4>
		    {% if user.username == comment.user %}
				<a href="{% url 'comment_update' comment.id %}">edit</a>
			{% endif %}{{ comment.comment }}
		</div>
	</div>
	<hr>
	{% endfor %}

{% else %}
    <p>No Comments are available.</p>
{% endif %}


{% endblock %}