{% extends 'base.html' %}

{% block content %}

<h1>Comments</h1>

{% if comment_list %}

	<table id="metric-table" class="table table-striped table-bordered">
	<tr><td colspan="2"><a href="{% url 'comment_add' %}">Add New Comment !!!</a></td></tr>
	{% for comment in comment_list %}
		<tr>
			<td>
				{% if user.username == comment.user %}
					<a href="{% url 'comment_update' comment.id %}">edit</a>
				{% endif %}	
				{{ comment.user }}
			</td>
			<td>{{ comment.comment }}</td>
		</tr>
	{% endfor %}
	</table>

{% else %}
    <p>No Comments are available.</p>
{% endif %}


{% endblock %}