{% extends 'base.html' %}

{% block content %}

{% if vote %}

<h3>
{{ match.matchtime|date:"l, d F Y" }}<br>
<img src="/static/img/flags/{{ match.teamA }}.png"> {{ match.teamA | capfirst}} {{ match.matchtime|date:"H:i" }} {{ match.teamB | capfirst}} <img src="/static/img/flags/{{ match.teamB }}.png">
</h3>
<br><br>

<table id="metric-table" class="table table-striped table-bordered">
	<tr>
		<td>Actions</td>
		<td>User</td>
		<td>Striker</td>
		<td>Winner</td>
		<td>Score</td></tr>
	{% for v in vote %}
		<tr>
			<td>
			{% if user.username == v.user %}
				<a href="{% url 'vote_update' v.id %}">edit</a>
			{% else %}	
				-
			{% endif %}	
			</td>
			<td>{{ v.user }}</td>
			<td>{{ v.striker }}</td>
			<td>{{ v.winner }}</td>
			<td>{{ v.score }}</td>
		</tr>
	{% endfor %}
</table>


	
{% else %}
    <p>No match details available.</p>
{% endif %}

{% endblock %}