{% extends 'base.html' %}

{% block content %}

<h1>Match</h1>

{% if match_list %}
	<table id="metric-table" class="table table-striped table-bordered">
		{% for match in match_list %}
			<tr>
				<td><a href="{% url 'match_detail' match.id %}">View</a></td>
				<td><img src="/static/img/flags/{{ match.teamA }}.png"> {{ match.teamA }} </td>
				<td>{{ match.matchtime }}</td>
				<td>{{ match.teamB }} <img src="/static/img/flags/{{ match.teamB }}.png"> </td>
			</tr>
		{% endfor %}
	</table>
{% else %}
    <p>No matches are available.</p>
{% endif %}


{% endblock %}