{% extends 'base.html' %}

{% block content %}

{% if match %}

{# <h1>Match</h1> #}
<h3>
	{{ match.matchtime|date:"l, d F Y" }} &nbsp;&nbsp; <br>
	<img src="/static/img/flags/{{ match.teamA }}.png"> {{ match.teamA | capfirst}} 
	{% if match.finish %}
		{{ match.score }}
	{% else %}
		{{ match.matchtime|date:"H:i" }}
	{% endif %}	
	{{ match.teamB | capfirst}}
	<img src="/static/img/flags/{{ match.teamB }}.png">
</h3>

{% if match.finish %}
	{% for stk in strikers %}
		{{ stk.striker }} <br>
	{% endfor %}
{% endif %}	
<hr>

<table id="metric-table" class="table table-striped" border=0>
	<tr>
		{% if not match.finish %}
			<th >User</th>
			<th class="toRight">Score</th>
			<th class="toRight">Striker</th>
			<th class="toRight">Winner</th>
		{% else %}
			<th >User</th>
			<th class="toRight">Total</th>
			<th class="toRight" colspan=2>Score</th>
			<th class="toRight" colspan=2>Striker</th>
			<th class="toRight" colspan=2>Winner</th>
		{% endif %}	
		
	</tr>

	{% for key in points_sorted %}
		{% for p, v in points.items %}
	    	{% if key == p %}
				<tr>
					<td width="20%">
						{{ p | capfirst }}
						{% if not match.finish and isEditable %}
							{% if user.username == p.username %}
								| <a href="{% url 'vote_update' v.vote.id %}">edit</a>
							{% endif %}	
						{% endif %}
					</td>
					
					{% if match.finish %}
						<td class="toRight">{{ v.points_total }}</td>
					{% endif %}	
					
					<td width="20%" class="toRight">
						{% if v.vote %}
							{{ v.vote.score }}
						{% else %}
							&nbsp;
						{% endif %}		
					</td>
					
					{% if match.finish %}
						<td class="toRight">{{ v.points_score }}</td>
					{% endif %}	

					<td width="20%" class="toRight">
						{% if v.vote %}
							{{ v.vote.striker }}
						{% else %}
							&nbsp;
						{% endif %}		
					</td>
					
					{% if match.finish %}
						<td class="toRight">{{ v.points_striker }}</td>
					{% endif %}	
					
					<td width="20%" class="toRight">
						{% if v.vote %}
							{{ v.vote.winner | capfirst }}
						{% else %}
							&nbsp;
						{% endif %}		
					</td>
					
					{% if match.finish %}
						<td class="toRight">{{ v.points_winner }}</td>
					{% endif %}	
					
				</tr>
			{% endif %}
		{% endfor %}
	{% endfor %}
    {% if not match.finish and not uservote %}
		<tr><td colspan="5"><a href="{% url 'vote_add' match.id %}">Vote Now !!!</a></td></tr>
    {% endif %}	
</table>

{% else %}
    <p>No match details available.</p>
{% endif %}

{% endblock %}