{% extends 'base.html' %}

{% block content %}

{% if match %}

{# <h1>Match</h1> #}

<h3>
<legend>{{ match.matchtime|date:"l, d F Y" }} &nbsp;&nbsp; <br>
<img src="/static/img/flags/{{ match.teamA }}.png"> {{ match.teamA | capfirst}} 
{% if match.finish %}
	{{ match.score }}
{% else %}
	{{ match.matchtime|date:"H:i" }}
{% endif %}	
{{ match.teamB | capfirst}} <img src="/static/img/flags/{{ match.teamB }}.png">
</legend>
</h3>

{% if match.finish %}
<p><span class="label">Strikers</span> {% for stk in strikers %}{{ stk.striker }} {% endfor %}</p>
{# <p><span class="label">Finish</span> {{ match.finish }}</p> #}
{% endif %}	

<table id="metric-table" class="table table-striped table-bordered" border=0>
	<tr>
		{% if not match.finish %}
			<th></th>
			<th>User</th>
			<th>Striker</th>
			<th>Winner</th>
			<th>Score</th>
		{% else %}
			<th>User</th>
			<th colspan=2>Striker</th>
			<th colspan=2>Winner</th>
			<th colspan=2>Score</th>
			<th>Total</th>
		{% endif %}	
		
	</tr>
	{% for p, v in points.items %}
		<tr>
			{% if not match.finish %}
				<td>
				{% if user.username == p.username %}
					<a href="{% url 'vote_update' v.vote.id %}">edit</a>
				{% else %}	
					-
				{% endif %}	
				</td>
			{% endif %}	
			
			<td width="20%">{{ p | capfirst }}</td>
			
			<td width="20%">
				{% if v.vote %}
					{{ v.vote.striker }}
				{% else %}
					&nbsp;
				{% endif %}		
			</td>
			
			{% if match.finish %}
				<td class="toRight">{{ v.points_striker }}</td>
			{% endif %}	
			
			<td width="20%">
				{% if v.vote %}
					{{ v.vote.winner | capfirst }}
				{% else %}
					&nbsp;
				{% endif %}		
			</td>
			
			{% if match.finish %}
				<td class="toRight">{{ v.points_winner }}</td>
			{% endif %}	
			
			<td width="20%">
				{% if v.vote %}
					{{ v.vote.score }}
				{% else %}
					&nbsp;
				{% endif %}		
			</td>
			
			{% if match.finish %}
				<td class="toRight">{{ v.points_score }}</td>
			{% endif %}	
			
			{% if match.finish %}
				<td class="toRight">{{ v.points_total }}</td>
			{% endif %}	
		</tr>
	{% endfor %}
    {% if not match.finish and not uservote %}
		<tr><td colspan="5"><a href="{% url 'vote_add' match.id %}">Vote Now !!!</a></td></tr>
    {% endif %}	
</table>

{% else %}
    <p>No match details available.</p>
{% endif %}

{% endblock %}