<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{% url 'match_index' %}"><img src="/static/img/logo_worldcup2014.png" height="40" width="40">Bolao do Faisao 2014</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
			        {% if user.is_authenticated %}
					<li>
						<a href="{% url 'match_index' %}">Next Matches</a>
					</li>
					<li>
						<a href="{% url 'match_past' %}">Past Matches</a>
					</li>
					<li>
						<a href="{% url 'results' %}">Results</a>
					</li>
					<li>
						<a href="{% url 'extra_vote' %}">Extra</a>
					</li>					
					<li>
						<a href="{% url 'rules' %}">Rules</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li>
						<a href="{% url 'logout' %}">{{ user.username | capfirst }} <img src="/static/img/logout.png" height="20" width="20"></a>							
					</li>
					{% endif %}			
                </ul>
            </div>
        </div>
    </div>
</div>
