{% extends 'base.html' %}

{% block content %}

<h1>Players</h1>
<hr>

<iframe src="http://gfycat.com/iframe/DefenselessWeakKawala" frameborder="0" scrolling="no" width="204" height="400" ></iframe>
<iframe src="http://gfycat.com/iframe/OilyDarlingCardinal" frameborder="0" scrolling="no" width="204" height="400" ></iframe>
<iframe src="http://gfycat.com/iframe/SoreHotHanumanmonkey" frameborder="0" scrolling="no" width="204" height="400" ></iframe>
<iframe src="http://gfycat.com/iframe/ForcefulAdmiredHarlequinbug" frameborder="0" scrolling="no" width="204" height="400" ></iframe>
<br>
<iframe src="http://gfycat.com/iframe/ValuableWideeyedAmericanwigeon" frameborder="0" scrolling="no" width="204" height="400" ></iframe>
<iframe src="http://gfycat.com/iframe/FastDamagedIsabellineshrike" frameborder="0" scrolling="no" width="204" height="400" ></iframe>
<iframe src="http://gfycat.com/ifr/AgonizingWellwornKiskadee" frameborder="0" scrolling="no" width="204" height="400" ></iframe>
<iframe src="http://gfycat.com/ifr/ZestyOffensiveChrysalis" frameborder="0" scrolling="no" width="204" height="400" ></iframe>
<iframe src="http://gfycat.com/ifr/WideCanineAfricanpiedkingfisher" frameborder="0" scrolling="no" width="204" height="400" ></iframe>

{% endblock %}