{% extends 'base.html' %}

{% block content %}

<br>
<iframe src="http://gfycat.com/iframe/DefenselessWeakKawala" frameborder="0" scrolling="no" width="254" height="450" ></iframe>
<iframe src="http://gfycat.com/iframe/OilyDarlingCardinal" frameborder="0" scrolling="no" width="254" height="450" ></iframe>
<iframe src="http://gfycat.com/iframe/SoreHotHanumanmonkey" frameborder="0" scrolling="no" width="254" height="450" ></iframe>
<iframe src="http://gfycat.com/iframe/ForcefulAdmiredHarlequinbug" frameborder="0" scrolling="no" width="254" height="450" ></iframe>

{% endblock %}