{% extends 'base.html' %}


{% block content %}
<h1>Rules</h1>
<hr>

<h4>Points</h4>
<ul>
    <li>Points per match:
        <ul>
            <li>Winner - the winner of the match or tie - 1 pts (group stage) / 2 pts (playoff stage)</li>
            <li>Striker - one of the match strikers or no one - 2 pts (group stage) / 4 pts (playoff stage)</li>
	        <li>Score - match final score - 2 pts (group stage) / 4 pts (playoff stage)</li>
        </ul>
    </li>
    <li>Extra points:
        <ul>
            <li>Winner: 5 pts (the world cup winner)</li>
            <li>Striker: 5 pts (the world cup best striker)</li>
        </ul>
    </li>
    <li>Tiebreakers:
        <ul>
            <li>1st: total points, 2nd: score points, 3rd: striker points, 4th: winner points</li>
    </li>
</ul>

</ul>


<h4>Others</h4>
<ul>
    <li>Vote closing time:
        <ul>
            <li>Voting for each match is allowed until the match start time</li>
            <li>Voting for extra points is allowed until the last day of the group phase</li>    
        </ul>
    <li>Playoff stage rules:
        <ul>
            <li>Winner: betting on "tie" is allowed and means the match goes to penalties</li>
            <li>Striker: if the match goes to penalties, the penalties' strikers are not considered</li>
            <li>Score: if the match goes to penalties, the final score is the score before penalties</li>
        <ul>
    </li>
</ul>


{% endblock %}
